
<ul>
  <li class = "inline">
    <a href [routerLink]="['newquestion']">Add A Question</a>
  </li>
  <li class = "inline">
    <a href (click)="logout()"> Logout</a>
  </li>
</ul>

<div class="row">
  <div class="col">
  <form (submit)="createQuestion()" #questionForm="ngForm" >
      <div class="form-group">
        <label>Post a Question</label>
        <input type="text" class="form-control" name="question" [(ngModel)]="newQuestion.question">
        <label> Description </label>
        <input type = "text" class = "form-control" name = "description" [(ngModel)]="newQuestion.description" />
      </div>
      <button type="submit" class="btn btn-default">Post Question</button>
    </form>
  </div>
</div>
<p *ngFor="let error of errors">
  {{error}}
</p>
<router-outlet></router-outlet>
