<h2>Whats Up {{currentUser.name}}</h2>
<ul>
  <li class = "inline">
    <a href (click)="logout()"> Logout</a>
  </li>
  <li>
    <a [routerLink]="['/newquestion']">Submit New Question</a>
  </li>
</ul>
<table>
  <th>
    <tr>
      <td>
        Question
      </td>
      <td>
        Answers
      </td>
      <td>
        Action
      </td>
    </tr>
    <tr *ngFor="let question of questions">
      <td>
        {{question.question}}
      </td>
      <td>
        {{question.answers.length}}
      </td>
      <td>
        <a [routerLink]="['/question', question._id]" href>Show</a>
      </td>
      <td>
        <a [routerLink]="['/answer', question_id]" href> Answer</a>
      </td>
    </tr>
  </th>
</table>
