<h2>Whats Up {{currentUser.name}}</h2>

<ul>
  <li class = "inline">
    <a href [routerLink]="['/newquestion']">Add A Question</a>
  </li>
  <li class = "inline">
    <a href (click)="logout()"> Logout</a>
  </li>
</ul>

<table>
  <th>
    <tr>
      <td>
        Question
      </td>
      <td>
        Answers
      </td>
      <td>
        Action
      </td>
    </tr>
    <tr *ngFor="let question of Questions">
      <td>
        {{question.question}}
      </td>
      <td>
        {{question.question.length}}
      </td>
    </tr>
  </th>
</table>
