<h2>Whats Up {{currentUser.name}}</h2>

<ul>
  <li class = "inline">
    <a href [routerLink]="['newquestion']">Add A Question</a>
  </li>
  <li class = "inline">
    <a href [routerLink]="['logout']"> Logout</a>
  </li>
</ul>

<table>
  <th>
    <tr>
      <td>
        Question
      </td>
      <td>
        Answers
      </td>
      <td>
        Action
      </td>
    </tr>
    <tr *ngFor="let question of Questions">
      <td>
        {{question.question}}
      </td>
      <td>
        {{question.question.length}}
      </td>
    </tr>
  </th>
</table>



<!--
<app-question *ngFor="let question of questions" [question]="question"></app-question>
<div class="row">
  <div class="col">
    <form (submit)="createQuestion()">
      <div class="form-group">
        <label>Post a Question</label>
        <input type="text" class="form-control" name="Question" [(ngModel)]="newQuestion.question">
      </div>
      <button type="submit" class="btn btn-default">Post Question</button>
    </form>
  </div>
</div>
<app-question *ngFor="let question of questions" [question]="question"></app-question> -->
